{% extends "base.html" %}
{% block content %}

<div class="content-card">
<div class="text-center">
  <h5 class="mb-2">مؤسسة ال عشان لقطع غيار السيارات</h5>
  <h5 class="mb-2">Al Eshan Auto Parts Establishment</h5>
</div>

 <h2>أهلاً بك 👋</h2>
  <p>
    مرحبًا بك في نظام المحاسبة المالية والسجلات والموظفين ومتابعة المهام الخاص بـ
    <strong>ال عِشان لقطع غيار السيارات</strong>
  </p>

  <p>
    استخدم القائمة الجانبية للتنقل بين المحاسبة المالية والسجلات والموظفين
    ومتابعة المهام.
  </p>

  <!-- ===== صورة العرض ===== -->
  <div class="mt-4">

    <div class="offer-image-box">
      <img
  src="{{ url_for('static', filename='img/offers/offer.png') }}"
  alt="عرض">

    </div>
  </div>
 

{% endblock %}
